//skip link

.skip-link {
  position: absolute; 
  left: -1000px; //take it off the screen
  top: 5px; //bring it off the edge of the screen
  background-color: $solidWhite;
  color: black;
  z-index: 10;
  &:focus {
    left: 0;
  }
}

.announcements {
  text-align: center;
  padding: 10px 0;
}

//navbar 
.navBar {
  position: sticky; //when assigning sticky, assign a sticking point.
  top: 0; //when it reaches 0px from bottom it sticks
  border-top: 1px solid rgba(8, 75 ,109, 0.08); //a designed will give you the specs on this
  border-bottom: 1px solid rgba(8, 75, 109, 0.08);
  //target the wrapper in navbar to flex the items
  background-color: $solidWhite;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    
  }

  input[type=checkbox] {
    opacity: 0; //dont use display none because that would essentially remove its functionality. we just want it to not be visible whilst having the functionality. we could also make this element have sr-only class, but thats not quite right since technically we do want both types of users to be able to interact with it. still works though
    position: absolute; //remove footprint to give space to the navbar, also make it invisible
    &:checked ~ .slideOutNav {
      //when this input is checked, do css to a different element (bring the slideout nav onto screen. The ~ is the general sibling combinator. .slideOutNav is the sibling of the input element
      left: 0;
      transition: .3s;
    }
  }
}
.menuButton {
  cursor: pointer;
}

.searchCart {
  display: flex;
  .menuIcon, .bag {
    margin-right: 15px; //we could make flex parent a bit bigger and then allow the children to flex, orrr we could just add a little margin. both work
  }

  .menuIcon {
    background-color: transparent;
    border: none; //remove the grey background and border.
    padding: 0;
  }
  .bag {
    display: flex; //made the bag aligned. this auto sets children in a row/column
  }
  .counter {
    display: flex; //trying to align the element correcty using flex
    align-items: center;
    p {
    width: 24px;
    height: 24px; //just adding some background stuff
    background: $primary;
    border-radius: 50%;
    color: $solidWhite;
    text-align: center;
    }
  }
}

//slide out nav
.slideOutNav {
  background-color: $primary;
  position: fixed;
  top: 0;
  left: -506px;
  height: 100vh;
  width: 100%; //be 100% of the screen BUT if the screen is bigger than a certain length, dont go beyond that. this makes it more adaptive to different viewports
  max-width: 506px;
  color: $solidWhite;
  padding: 35px 50px;
  transition: .75s;
}

.mainMenu {
  a {
    font-family: $headingFont; //via font-face in _typography.scss
    font-size: 1.6rem; //joe got this and line height from the answer key. you just need to play with the values a bit to get it right
    line-height: 2.5rem;
    color: rgba($color: $solidWhite, $alpha: 1); //by adding a dollar sign you can force the r g and b value to be solidWhite. the last parameter, $alpha, refers to opacity
    transition: 0.3s;
      &:hover, &:focus {
        color: rgba($color: $solidWhite, $alpha: .05)
        
      }
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.menuClose {
  color: $solidWhite;
  font-size: 1.2rem;
  text-align: right;
  display: block;
  width: 100%;
}