.categoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  .item1 {
    background-color: $quinary;
  }
  .item2 {
    background-color: $secondary;
  }
  .item3 {
    background-color: $tertiary;
  }
  .item4 {
    background-color: $quaternary;
  }
  .items {
    border-radius: 10%;
    width: calc(45% - 50px); //give it a width of 45% so there's two columns (initially did 50% but joe figured it was too big), then the parent is wrapper which makes the following list items wrap to the next row. subtract the length of the margin given to the list items. we added that margin below because we want white space between each item but gotta subtract it back out when calculatin width
    //flex justify content the parent to align center the list child items
    margin: 50px 25px 25px;
    padding: 40px;
    text-align: center;
    transition: 0.2s;
    img {
      border-radius: 10%;
      margin-bottom: 15px;
    }
    &:hover { //hover over lists and give it a bit of animation. note that the transition actually goes on the item, not inside these brackets
      transform: scale(.9);
    }
    

}