// COLOURS:
// primary text (blue): #084b6d;
// secondary (light blue): #f4fcff;
// tertiary (green): #f8fbf3; 
// quaternary (pink): #fff5f5; 
// quinary (orange): #ffd698;
// pastel blue: #d3f0f9 
// white: #fff; 
@import './partials/setup';
@import './partials/variables'; //order matters; if variables and typography were switched, it wouldnt work since typography uses some variables
@import './partials/typography';
@import './partials/baseStyles';
@import './partials/nav';

header {
  width: 100%;
}

// HEADINGS:
// h1: 28px;
// h2: 40px;
// h3: 54px;
// h4: 34px;
// h5: 14px;
